@font-face {
  font-family: "ElMessiri-SemiBold";
  src: url("../fonts/el_messiri/ElMessiri-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}


body {
  background-image: url("https://wallpaperaccess.com/full/4615469.jpg");
  background-size: cover;
  background-color: #fffeff;
  font-family: 'Roboto', sans-serif;
  color: #c800ff;
  font-size: 15px;
  margin: 0;
}

p,
h3 {
  margin: 1%;
}

.navStyle {
  padding: 10px;
  background-color: #cabdff;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

#addNewGame {
  position: relative;
  top: 1px;
  left: -1340px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

#logout {
  background: #ffffff;
  color: #c062ff;
  border-radius: 20px;
  border: none;
  width: 100px;
  font-size: 18px;
  margin-left: 10px;
}


#login {
  background: #ffffff;
  color: #c062ff;

  border-radius: 20px;
  border: none;
  width: 100px;
  margin-left: 10px;
}

#gameBtn {
  position: relative;
  top: 1px;
  left: -1560px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}


.styleGameContainers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #6004bd;
}


.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
  margin: 10px;
  align-items: center;
}

.fill {
  background: #6004bd;
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

.outline {
  padding: 10px 15px;
  background: transparent;
  color: #6004bd;
  border: 2px solid #6004bd;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(156, 0, 191, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}


.dashboard-text {
  font-family: 'Shrikhand', cursive;
  height: 80px;
  font-size: 50px;
  color: #cabdff;
  align-items: center;
  text-align: center;
  /* padding-left: 100px; */
  padding-top: 30px;
}

#logout {
  background: #ffffff;
  color: #c062ff;
  border-radius: 20px;
  border: none;
  width: 100px;
  font-size: 18px;
  margin-left: 10px;
}

#gameBtnDashboard{
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 9px;
  padding-bottom:  9px;
  font-size: 17px;
  width: 100px;
  cursor: pointer;
}


#dashboard {
  background: #ffffff;
  color: #c062ff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  border: none;
  width: 100px;
  margin-left: 10px;
}

#addNewGame {
  position: relative;
  top: 1px;
  left: -1340px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

#dashboardBtn {
  position: relative;
  top: 1px;
  left: -1340px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}


.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}


.article-card {
  width: 350px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .game-name,
.article-card .game-genre,
.article-card .game-platform,
.article-card .game-cost{
  margin: 0;
}

.article-card .game-name {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .game-genre {
  font-size: 17px;
  color: #fff;
}

.article-card .game-platform {
  font-size: 17px;
  color: #fff;
}

.article-card .game-cost {
  font-size: 17px;
  color: #fff;
}

.center {
  margin-top:10px;
  padding:10px;
}

#add-favorite {
  font-size: 30px;
  position: relative;
  color: black;
  left: 300px;
  bottom: 220px;

}

.link { background:none; border:none; }


#add-favorite:hover {
  transform: scale(1.125);
  color: white;
  border-color: rgba(255, 255, 255, 0.9);
}


#delete {
  font-size: 30px;
  position: relative;
  color: white;
  left: 300px;
  bottom: 50px;


}

#delete:hover {
  transform: scale(1.125);
  color: white;
  border-color: rgba(255, 255, 255, 0.9);
}